<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.9" targetFramework="net472" />
  <package id="Lib.Harmony" version="2.1.1" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="6.15.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Logging" version="6.15.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Tokens" version="6.15.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="StyleCop.Analyzers" version="1.1.118" targetFramework="net472" developmentDependency="true" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net472" />
  <package id="YamlDotNet" version="11.2.1" targetFramework="net472" />
</packages>